.footer {
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $footerContainerColor;
    &__general-box {
        display: flex;
    }
}

.connect {
    display: flex;
    flex-wrap: wrap;
    width: 230px;
    padding-right: 70px;
}

.footer .item:not(:last-child) {
    margin-bottom: 9px;
}

.connect-ftr-ul {
    text-align: center;
}

.connect-ftr-li {
    display: inline-flex;
    justify-content: center;
}

.connect-frt-a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: $prime-background-color;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: background-color;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;
}

.connect-frt-a:hover,
.connect-frt-a:focus {
    background-color: $baseColor;
}

.connect-title {
    color: $prime-background-color;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
}

.webfoot {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: $baseColor;
}

.studiofoot {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: $prime-background-color;
}

.address {
    padding-top: 20px;
    padding-bottom: 9px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    font-style: normal;
    color: $prime-background-color;
}

.howconectfoot {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 0.03em;
}


/*  destribution    */

.distribution-ftr {
    margin-left: auto;
}

.discription-form {
    display: inline-flex;
}

.distribution-input {
    padding-left: 16px;
    width: 360px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;
    background-color: $footerContainerColor;
    color: whitesmoke;
}

.footer-btn {
    width: 200px;
    height: 50px;
    background-color: $baseColor;
    border-color: $baseColor;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-radius: 4px;
}

.distribution-svg {
    margin-left: 10px;
    fill: $prime-background-color;
}

.footer-btn:hover,
.footer-btn:focus {
    cursor: pointer;
}

.distribution-text-btn {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: $prime-background-color;
}